<!-- Page Header -->
<header class="masthead" style="background-image: url('img/index.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Empréstimo Fácil</h1>
                    <span class="subheading">A solução mais rápida para resolver o seu problema</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Como escolher o melhor empréstimo?
                    </h2>
                    <h3 class="post-subtitle">
                        De olho nas taxas, Compare, Pesquise
                    </h3>
                </a>
            </div>
            <hr>
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Simule e Contrate aqui
                    </h2>
                    <h3 class="post-subtitle">
                        Faça a sua simulação e tenha o seu dinheiro na mão já
                    </h3>
                  </a>
            </div>
            <hr>
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Refinanciamento de Veículo
                    </h2>
                    <h3 class="post-subtitle">
                        Você não precisa vender o seu carro para ter dinheiro na mão, basta ter um veículo totalmente quitado e em bom estado de conservação.
                    </h3>
                  </a>
            </div>
            <hr>
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Crédito com Imóvel em Garantia
                    </h2>
                    <h3 class="post-subtitle">
                        Você já conquistou a sua casa própria. Agora é hora de ir além.
                    </h3>
                </a>
            </div>

            <hr>
            <!-- Pager -->
        </div>
    </div>
</div>
