<!-- Page Header-->
<header class="masthead" style="background-image: url('img/simulacao.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Empréstimo Fácil</h1>
                    <span class="subheading">A solução mais rápida para resolver o seu problema</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- PRECISO ADAPTAR AO FORMULÁRIO DE SIMULAÇÃO -->

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p> Infelizmente, este empréstimo não é comercialmente interessante para nós, ou ultrapassa nosso limite de valor ou parcelas. </p>
        </div>
    </div>
</div>
