<!-- Page Header-->
<header class="masthead" style="background-image: url('img/simulacao.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Empréstimo Fácil</h1>
                    <span class="subheading">A solução mais rápida para resolver o seu problema</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- PRECISO ADAPTAR AO FORMULÁRIO DE SIMULAÇÃO -->

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2><p>Olá, {{nomeUsuario}}! Faça uma simulação agora e verifique se o seu crédito é aprovado!</p></h2>
            <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
            <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
            <!-- NOTE: To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
            <form method="post">
              <div><font size="4">Valor solicitado (R$):
                <input type="number" size="30" name="valor" placeholder="(De R$ 80,00 a  R$ 50000,00)">
              </div>
              <br>
              <div>Quantidade de Parcelas:
                <input type="number" size="20" name="parcelas" placeholder="(De 2 a 48 parcelas)">
              </div>
              <br>
              <div>Renda mensal média:
                <input type="number" size="30" name="renda" placeholder="(Informe sua renda aproximada em R$)">
              </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form></font>

                <br>
                <div id="success"></div>
                <div class="form-group">

                </div>
            </form>
        </div>
    </div>
</div>
