<!-- Page Header -->
<header class="masthead" style="background-image: url('img/sobre.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Empréstimo Fácil</h1>
                    <span class="subheading">A solução mais rápida para resolver o seu problema</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>No EMPRÉSTIMO PESSOAL, o crédito aprovado não tem um destino específico, ou seja, pode ser utilizado para qualquer objetivo, como: pagamento de contas, educação, quitação de outras dívidas ou mesmo para realizar uma compra ou viagem desejada. Já o FINANCIAMENTO, também é um contrato entre o cliente e a instituição financeira, mas neste caso existe uma destinação específica, como, por exemplo, a aquisição de veículo ou de um imóvel. </p>
        </div>
    </div>
</div>
